.brand-area{
    .brand-active{
        .single-brand{
            a{
                display: block;
                img{
                    width: auto;
                    margin:0 auto;
                }
            }
        }
    }
}