// header
.header-transparent{
    position: absolute;
    top:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.5);
    z-index: 99;
    @media #{$xs}{
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    @media #{$md}{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 0;
        padding-right: 0;
    }

    
}


.header{
    &__icon{
        margin-left: 50px;
        margin-top: 48px;
        a{
            color:$white;
            font-size: 16px;
        }
    }
    &__menu{
        ul{
            li{
                display: inline-block;
                margin-left: 25px;
                position: relative;
                &:hover> a{color:$theme-color}
                a{
                    color:$white;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 50px 0;
                    display: block;
                }
                .submenu{
                    position: absolute;
                    left:0;
                    top:120%;
                    width:200px;
                    background:$black;
                    opacity: 0;
                    visibility: hidden;
                    @include transition(.3s);
                    li{
                        a{
                            padding: 10px 12px;
                            font-size: 13px;
                            font-weight: 400;
                        }
                        display: block;
                        margin:0;
                        .submenu{
                            left: 100%;
                            top: 0;
                            opacity: 0;
                            visibility: hidden;
                        }
                        &:hover .submenu{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                &:hover .submenu{
                    opacity: 1;
                    visibility: visible;
                    top:100%
                }
            }
        }
    }
}


.extra-info {
    position: fixed;
    right:0;
    top: 0;
    width: 400px;
    height: 100%;
    background: #222;
    z-index: 88;
    padding: 30px;
    transition: .7s;
    transform: translateX(100%);
  }
  .extra-info.info-open {
    transform: translateX(0);
  }
  .extra-info-left {
  right: auto;
  transform: translateX(-100%);
  }
  .extra-info p{
    color: $white;
    line-height: 28px;
    font-size:15px;
  }
  .instragram a {
    width: 33.33%;
    float: left;
  }
  .instragram img {
    max-width: 100%;
  }
  .social-icon-right a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid $white;
    text-align: center;
    line-height: 40px;
    color:$white;
    margin-right: 10px;
    @include transition(.3s);
    &:hover{
        background:$theme-color;
        border-color: transparent;
        color: #fff;
    }
  }
  .instragram {
    overflow: hidden;
  }
  .close-icon button {
    background: none;
    border: none;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    color: $theme-color;
  }
  .close-icon {
    text-align: right;
    margin-top: -16px;
  }
  .mean-container a.meanmenu-reveal {
    @media #{$md}{
        margin-top: -10px;
    }
   
}
.mean-container .mean-nav {
    @media #{$md}{
        margin-top: 35px;
    }
   
}

