.portfolio-area{
    .portfolio-menu{
        button{
            background: none;
            border: 0;
            padding: 0;
            margin: 0 12px;
        }
        button{
            &.active{
                color:$theme-color;
            }
        }
    }
    .portfolio{
        position: relative;
        &:hover ::before{
            opacity: 1;
        }
        &__thumb{
            &:before{
                position: absolute;
                background: rgba(0, 0, 0, 0.7);
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                content: "";
                @include transition(.3s);
                opacity: 0;
                z-index: 9;
            }
            .popup-image{
                position: absolute;
                top: 5px;
                left: 30px;
                color: #ffffff;
                font-size: 16px;
                z-index: 999;
                opacity: 0;
                visibility: hidden;
            }
            &:hover .popup-image{
                opacity: 1;
                top: 30px;
                visibility: visible;
            }
        }
        &__text{
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 30px;
            padding-bottom: 10px;
            z-index: 99;
            @include transition(.3s);
            opacity: 0;
            visibility: hidden;
            h4{
                font-size: 16px;
                a{
                    color:$white;
                }
            }
            span{
                color:$hr-border-color;
                font-size: 13px;
            }
        }
        
        &:hover .portfolio__text{
            opacity: 1;
            visibility: visible;
            padding-bottom: 25px;
        }
        
    }
}










